snippet sel "xml element tag"
<element name="$1" type="$1Type"/>
endsnippet

snippet xsel "xml element tag"
<xs:element name="$1" type="xs:$2"/>
endsnippet

snippet ct "xml complexType tag"
<complexType name="$1Type">
  $2
</complexType>
endsnippet

snippet seq "xml sequence tag"
<sequence>
  $1
</sequence>
endsnippet
